body {
  background-image: url('../images/library.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  overflow: hidden;
}

.hidden {
  display: none;
}

.screen-overlay {
  background-color: rgba(211, 211, 211, 0.6);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* NAVBAR */
.dropdown-link {
  display: inline-block;
  margin: 5px 0px 5px 20px;
  cursor: pointer;
}

.dropdown-links {
  position: fixed;
  margin-top: 125px;
  padding: 20px 0px;
  color: white;
  background: black;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  flex-wrap: wrap;
  /* cannot put display in here */
}

.hamburger-icon {
  margin-right: 20px;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.hamburger-line {
  border: 2px white solid;
  width: 25px;
  margin: 4px 0px;
}

.name {
  font-size: 25px;
  color: white;
  font-weight: 600;
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 42px;
  z-index: 2;
}

.navbar-reduced {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  width: 100%;
  min-width: 230px;
  height: 42px;
  z-index: 2;
}

.section-link {
  margin: 0px 15px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
}

.section-links {
  display: flex;
}

/* INFO SCREENS */

/* .info-header.fade-away {
  right: 150%;
}

.info-paragraph.fade-away {
  right: 150%;
} */

.info {
  margin: 0px 1.5%;
  width: 90%;
  height: 575px;
  background: #2b462b;
  padding: 30px;
  box-shadow: 0px 0px 9px 0px black;
  display: flex;
  justify-content: space-between;
  min-width: 650px;
}

.info-header {
  font-weight: 600;
  font-size: 50px;
  position: relative;
  right: 0%;
  transition: right 0.5s;
}

.info-paragraph {
  font-size: 21px;
  margin-top: 15px;
  position: relative;
  right: 0%;
  transition: right 0.5s;
}

.info-screen {
  position: absolute;
  margin-top: 35px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph {
  width: 44%;
  margin-left: 40px;
  padding-top: 20px;
  color: #eee7da;
}

.profile-picture {
  z-index: 1;
  width: 525px;
  height: 525px;
  position: relative;
  top: 12px;
  border-radius: 305px;
  border: 9px solid #eee7da;
  margin-right: 140px;
  margin-left: 40px;
}

.switch-info {
  position: relative;
  top: 13px;
}

/* HOME */
.home-links {
  margin-top: 15px;
}

.reverse-info {
  flex-direction: row-reverse;
  position: relative;
  top: -10px;
}
.to-list {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
}

.to-section {
  margin: 22px 0px;
  font-size: 26px;
  font-weight: 600;
  display: inline-block;
}

.inline {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.inline:hover {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  text-decoration: underline;
}

/* SKILLS */
.skill {
  width: 100px;
  margin: 7px 13px;
  fill: #eee7da;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  right: 20px;
}

.skill-title {
  cursor: default;
}

.titled {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 20px;
}

/* EDUCATION */
.edu {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 340px;
}

.education-degree {
}

.education-focus {
  font-style: italic;
  font-size: 17px;
}

.education-info {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.education-logo {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.education-school {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 25px;
}

.education-summary {
  position: relative;
  bottom: 10px;
}

/* CONTACT */
.contact {
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-logo {
  fill: #eee7da;
  width: 75px;
}

.download-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-resume {
  background: #178417;
  padding: 10px;
  border-radius: 8px;
}

.full-resume {
  height: 100vh;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: flex;
  justify-content: center;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-picture {
  width: 260px;
  height: 345px;
  margin-right: 40px;
  cursor: pointer;
}

.toggle-info {
  margin-top: 15px;
  text-align: center;
  font-size: 17px;
}

/* PORTFOLIO */
.highlighted {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -15px;
}

.picked {
  height: 90px;
  width: 104px;
  opacity: 1;
  cursor: pointer;
  border: 3px solid green;
  border-radius: 6px;
  padding: 10px;
}

.portfolio {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 485px;
}

.project-desc {
  text-align: center;
}

.project-icon {
  height: 90px;
  width: 104px;
  opacity: 0.4;
  cursor: pointer;
  border: 3px solid #2b462b;
  border-radius: 6px;
  padding: 10px;
}

#equibite {
  height: 33px;
  display: flex;
  position: relative;
  top: 33px;
}

.project-icon:hover {
  opacity: 1;
}

.project-links {
  margin: 5px 0px;
}

.project-link:hover {
  text-decoration: underline;
}

.project-select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.selected-project {
  width: 440px;
  height: 250px;
}

/* WINDOW CHANGES */

@media screen and (max-width: 1600px) {
  .profile-picture {
    z-index: 1;
    width: 525px;
    height: 525px;
    position: relative;
    top: 12px;
    border-radius: 305px;
    border: 9px solid #eee7da;
    margin-right: 40px;
    margin-left: 40px;
  }

  .info-paragraph {
    font-size: 21px;
    margin-top: 15px;
    right: 0%;
    transition: right 0.5;
  }

  .info {
    margin: 0px 1.5%;
    width: 90%;
    height: 575px;
    background: #2b462b;
    padding: 30px;
    box-shadow: 0px 0px 9px 0px black;
    display: flex;
    justify-content: space-between;
    min-width: 650px;
  }
}

@media screen and (max-width: 1260px) {
  .home-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 30px;
  }

  .info-paragraph {
    text-align: justify;
    right: 0%;
    transition: right 0.5;
  }

  .paragraph {
    width: 90%;
    margin-left: 40px;
    padding-top: 20px;
    color: #eee7da;
  }

  .profile-picture {
    z-index: 1;
    width: 100px;
    height: unset;
    border-radius: 60px;
    border: 5px solid #eee7da;
    margin-right: 40px;
    margin-left: 40px;
    position: absolute;
    left: 42%;
    top: 65%;
  }

  .skills-header {
    text-align: center;
  }

  .skill-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    right: 0px;
  }

  .to-list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 1075px) {
  .profile-picture {
    z-index: 1;
    width: 100px;
    height: unset;
    border-radius: 60px;
    border: 5px solid #eee7da;
    margin-right: 40px;
    margin-left: 40px;
    position: absolute;
    left: 41%;
    top: 65%;
  }
}

@media screen and (max-width: 975px) {
  .profile-picture {
    z-index: 1;
    width: 100px;
    height: unset;
    border-radius: 60px;
    border: 5px solid #eee7da;
    margin-right: 40px;
    margin-left: 40px;
    position: absolute;
    left: 40%;
    top: 65%;
  }
}

@media screen and (max-width: 875px) {
  .profile-picture {
    z-index: 1;
    width: 100px;
    height: unset;
    border-radius: 60px;
    border: 5px solid #eee7da;
    margin-right: 40px;
    margin-left: 40px;
    position: absolute;
    left: 39%;
    top: 65%;
  }
}

@media screen and (max-width: 800px) {
  .profile-picture {
    display: none;
  }
}
